name: Test SDK
on:
  pull_request:
    types: [opened, reopened, synchronize]
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
        with:
          persist-credentials: false
      - name: Setup Go
        uses: actions/setup-go@v6
        with:
          go-version-file: "go.mod"
      - name: Install dependencies
        run: go get ./...
      - name: Test with the Go CLI
        run: go test ./...
